<h3>Something aside</h3>
<div class="logins">
	<ul class="padding">
		<% if(!session.auth) {%>
			<li class="facebook"><a href="/auth/facebook"><img src="//facebook.com/favicon.ico" alt="">Facebook</a></li>
			<li class="twitter"><a href="/auth/twitter"><img src="//twitter.com/favicon.ico" alt="">Twitter</a></li>
			<li class="github"><a href="/auth/github"><img src="//github.com/favicon.ico" alt="">Github</a></li>
		<% } else { %>
			<li class="logout"><a href="/logout">Logout</a></li>
		<% } %>
	</ul>
</div>
