<article>
	<input type="hidden" id="image" value="<%= ((session.auth && session.user.image) ? session.user.image : '/img/default.png') %>">
	<input type="hidden" id="service" value="
		<%= (session.auth && session.auth.github) ? '//github.com/favicon.ico' : '' %>
		<%= (session.auth && session.auth.twitter) ? '//twitter.com/favicon.ico' : '' %>
		<%= (session.auth && session.auth.facebook) ? '//facebook.com/favicon.ico' : '' %>
	">
	<div id="bubble">
		<ul></ul>
	</div>
	<div id="connected">
		<strong>Online</strong>
		<div class="overlay"></div>
	</div>
</article>
